body{
	margin:0;
	padding:0;
}
#contenedor {
	background-color:#fff;
	display: block;
	height: 752px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1280px;
}
/*PORTADA*/
#fondo{
	position: absolute;
	bottom: 0;
	right: 0;
}
#btnSiguiente{
	position: absolute;
    right: 50px;
    top: 40px;

}
#Logo{
	position: absolute;
    top: 300px;
    left: 42px;
}
#trigger-overlay {
	height: 49px;
	left: 40px;
	position: absolute;
	top: 24px;
	width: 49px;
	background: url(../genericos/hambuguesa.png) no-repeat center center;
	overflow: hidden;
	border: none;
}
/*slide 1*/
#home{
	position: absolute;
    top: 40px;
    right: 100px;
}
#btnAnterior{
	position: absolute;
    top: 40px;
    right: 180px;
}
#img03{
	position: absolute;
    left: 0;
    top: 129px;
}
#img02{
	position: absolute;
    right: 40px;
    top: 215px;
}
#img01{
	position: absolute;
	top: 223px;
    right: 73px;
}
#img05{
	position: absolute;
    top: 471px;
    left: 29px;
}
#img07{
	position: absolute;
    right: 137px;
    bottom: 122px;
}
#img06{
	position: absolute;
    top: 151px;
    right: 187px;
}
#img04{
	position: absolute;
    left: 33px;
    bottom: 25px;
}
/*slide 2*/
#img15{
	position: absolute;
    top: 170px;
    right: 85px;
}
#img08{
	position: absolute;
    top: 255px;
    right: 375px;
}
#img09{
	position: absolute;
    top: 337px;
    right: 367px;
}
#img10{
	position: absolute;
    top: 426px;
    right: 324px;
}
#img11{
	position: absolute;
    top: 522px;
    right: 422px;
}
#img12{
	position: absolute;
    top: 614px;
    right: 102px;
}
#img14{
	position: absolute;
    bottom: 33px;
    left: 42px;
}
#img13{
	position: absolute;
    bottom: 277px;
    left: 179px;
}





















