body{
	margin:0;
	padding:0;
}
#contenedor {
	background-color:#fff;
	display: block;
	height: 752px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1280px;
}
.overlay {
    position: absolute;
    width: 1280px;
    height: 752px;
    margin-left:-640px;
    top: 0;
    left: 50%;
    background-color: #E3E2E2;
}
/*PORTADA*/
#fondo{
	position: absolute;
	bottom: 0;
	right: 0;
}
/* Effects */
.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    /*right: 20px;*/
    left:292px;
    top: 110px;
    /*overflow: hidden;*/
    border: none;
    background: url(../menu/close.png) no-repeat center center;
    /*text-indent: 200%;*/
    color: transparent;
    outline: none;
    z-index: 100;
}
/*menu*/
#opcion1, #opcion2, #opcion3, #opcion4, #opcion5, #opcion6, #opcion7, #opcion8, #opcion9, #opcion10, #opcion11{
    line-height: 0;
}
/*menu*/

#LogoMenu{
    position: absolute;
    bottom: 60px;
    right: 50px;
}
#menus{
    position: absolute;
    left: 310px;
    top: 202px;
}
#menutitulo{
    position: absolute;
    left: 383px;
    top: 135px;
}
#btnSiguiente{
	position: absolute;
    right: 50px;
    top: 24px;

}
#Logo{
	position: absolute;
    top: 300px;
    left: 42px;
}
#trigger-overlay {
	height: 49px;
	left: 40px;
	position: absolute;
	top: 24px;
	width: 49px;
	background: url(../genericos/hambuguesa.png) no-repeat center center;
	overflow: hidden;
	border: none;
}
/*slide 1*/
#home{
	position: absolute;
    top: 24px;
    right: 100px;
}
#btnAnterior{
	position: absolute;
    top: 24px;
    right: 180px;
}
#img03{
	position: absolute;
    left: 0;
    top: 129px;
}
#img02{
	position: absolute;
    right: 40px;
    top: 215px;
}
#img01{
	position: absolute;
	top: 223px;
    right: 73px;
}
#img05{
	position: absolute;
    top: 471px;
    left: 29px;
}
#img07{
	position: absolute;
    right: 137px;
    bottom: 122px;
}
#img06{
	position: absolute;
    top: 151px;
    right: 187px;
}
#img04{
	position: absolute;
    left: 33px;
    bottom: 25px;
}
/*slide 2*/
#img15{
	position: absolute;
    top: 170px;
    right: 85px;
}
#img08{
	position: absolute;
    top: 255px;
    right: 375px;
}
#img09{
	position: absolute;
    top: 337px;
    right: 367px;
}
#img10{
	position: absolute;
    top: 426px;
    right: 324px;
}
#img11{
	position: absolute;
    top: 522px;
    right: 422px;
}
#img12{
	position: absolute;
    top: 614px;
    right: 102px;
}
#img14{
	position: absolute;
    bottom: 33px;
    left: 42px;
}
#img13{
	position: absolute;
    bottom: 277px;
    left: 179px;
}
#logo1{
	position: absolute;
    top: 24px;
    left: 500px;
}

/*slide 3*/
#img17{
	position: absolute;
    left: 0;
    top: 143px;
}

#img18{
	position: absolute;
    top: 290px;
    left: 115px;
}

#img19{
	position: absolute;
    left: 183px;
    top: 338px;
}

#img20{
	position: absolute;
    left: 266px;
    top: 329px;
}
#img21{
	position: absolute;
    left: 270px;
    top: 328px;
}

#img22{
	position: absolute;
    top: 335px;
    right: 45px
}
#img16{
	position: absolute;
    right: 53px;
    top: 181px;
}
#img24{
	position: absolute;
    top: 195px;
    left: 42px;
}
#img23{
	position: absolute;
    bottom: 4px;
    left: 184px;
}

/*slide 4*/
#img30{
    position: absolute;
    top: 135px;
    left: 265px;
}
#img26{
    position: absolute;
    top: 196px;
    left: 419px;
}

#img31{
    position: absolute;
    top: 216px;
    left: 442px;
}
#img28{
    position: absolute;
    top: 181px;
    left: 801px;
}
#img29{
    position: absolute;
    top: 440px;
    left: 921px;
}
#img27{
    position: absolute;
    top: 359px;
    left: 102px;
}
/*sdeli 5*/
#img32{
    position: absolute;
    right: 41px;
    bottom: 123px;
}
#img33{
    position: absolute;
    right: 95px;
    bottom: 92px;
}
#img34{
    position: absolute;
    right: 111px;
    bottom: 237px;
}
#img35{
    position: absolute;
    right: 126px;
    bottom: 232px;
}
#img37{
    position: absolute;
    left: 0;
    top: 149px;
}
#img38{
    position: absolute;
    left: 80px;
    top: 483px;
}
#img45{
    position: absolute;
    left: 100px;
    top: 145px;
    }#img39{
        position: absolute;
    left: 303px;
    top: 194px;
    }
#img40{
    position: absolute;
    left: 372px;
    top: 224px;
}
#img41{
    position: absolute;
    left: 463px;
    top: 284px;
}
#img42{
    position: absolute;
    left: 523px;
    top: 265px;
}
#img46{
    position: absolute;
    left: 3px;
    bottom: 0;
}
#img43{
    position: absolute;
    left: 339px;
    bottom: 48px;
}
#img44{
    position: absolute;
    left: 281px;
    bottom: 9px;
}
/*s deli 7*/
#img50{
    position: absolute;
    right: 0;
    top: 155px;
}
#img51{
    position: absolute;
    top: 155px;
    left: 40px;
}
#img53{
    position: absolute;
    left: 133px;
    top: 330px;
}
#img47{
    position: absolute;
    left: 190px;
    top: 405px;
}
#img48{
    position: absolute;
    left: 190px;
    top: 498px;
}
#img49{
    position: absolute;
    left: 190px;
    top: 595px;
}
#img52{
    position: absolute;
    left: 58px;
    bottom: 22px;
}
/* slide 8*/
#img55{
    position: absolute;
    bottom: 74px;
    left: 98px;
}
#img54{
    position: absolute;
    left: 0;
    top: 132px;
}
#img56{
    position: absolute;
    left: 261px;
    top: 169px;
}
#img57{
    position: absolute;
    left: 332px;
    top: 252px;
}
#img58{
    position: absolute;
    left: 484px;
    top: 324px;
}
#img60{
    position: absolute;
    left: 559px;
    top: 438px;
}
#img64{
    position: absolute;
    left: 0;
    top: 128px;
}

#img66{
    position: absolute;
    right: 141px;
    top: 200px;
}
#img61{
    position: absolute;
    right: 50px;
    top: 262px;
}
#img62{
    position: absolute;
    right: 76px;
    top: 353px;
}
#img63{
    position: absolute;
    right: 119px;
    top: 446px;
}
#img65{
    position: absolute;
    left: 119px;
    top: 472px;
}

/* slide 10*/
#img67{
    position: absolute;
    left: 0;
    bottom: 0;
}
#img69{
    position: absolute;
    left: 0;
    bottom: 317px;
}
#img68{
    position: absolute;
    right: 118px;
    top: 195px;
}
#img70{
    position: absolute;
    bottom: 64px;
    left: 33px;
}
#img72{
    position: absolute;
    right: 170px;
    top: 173px;
}
#img71{
    position: absolute;
    right: 278px;
    top: 125px;
}
/* slide 11*/
#img78{
    position: absolute;
    left: 0;
    bottom: 0;
}
#img77{
    position: absolute;
    bottom: 82px;
    left: 319px;
}
#img76{
    position: absolute;
    bottom: 156px;
    left: 284px;
}
#img75{
    position: absolute;
    bottom: 262px;
    left: 263px;
}
#img74{
    position: absolute;
    bottom: 343px;
    left: 236px;
}
#img73{
    position: absolute;
    bottom: 446px;
    left: 204px;
}
#img79{
    position: absolute;
    top: 63px;
    left: 345px;
}
/* slide 12*/
#img82{
    position: absolute;
    top: 100px;
    left: 177px;
}
#img84{
    position: absolute;
    top: 331px;
    left: 358px;
}
#img81{
    position: absolute;
    top: 498px;
    left: 3px;
}
#img80{
    position: absolute;
    top: 626px;
    left: 33px;
}
#img83{
    position: absolute;
    top: 642px;
    left: 360px;
}









